.btn-primary {
    border: 1px solid var(--text-main);
    border-radius: 24px;
    padding: 12px 50px;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: var(--text-main);
}

header {
    background-color:#0E0E0E;
}