* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
    font-size: 1.6rem;
	list-style: none;
	text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
    background-color: #0E0E0E;
}

img {
    max-width: 100%;
}

button, a {
    background: transparent;
    cursor: pointer;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}