:root {
    --text-main: #E2E2E2;
    --dark-color: #0E0E0E;
}

.mobile-menu {
    display: none;
}
/*header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    z-index: 1000;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 50px;
}

header nav ul a{
    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--text-main);
}

header nav ul li:first-child a{
    font-weight: 700;
}

/*s-hero*/

.s-hero {
    width: 100%;
    padding: 15rem 0 20rem 0;
    margin-top: 8.8rem;
    background-image: url(../img/Frame\ 27.png);
    background-repeat: no-repeat;
}
.s-hero .btn-primary{
    background-color: var(--text-main);
    color: var(--dark-color);
    box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
}

.s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-hero p {
    font-size: 24px;
    line-height: 120%;
    color: var(--text-main);
}

.s-hero h4{
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: var(--text-main);
    max-width: 66rem;
    text-align: center;
    margin: 5rem 0 4.6rem 0;
}

.s-hero h1 {
    font-family: 'Nunito',sans-serif;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 6.2rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--text-main);
}

/*section about*/
.s-about {
    width: 100%;
    background-image: url(../img/about-me-background.png);
    background-repeat: no-repeat;
}
.s-about .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.s-about .text h2 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.003em;
    color: var(--text-main);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.s-about .content {
    display: flex;
    align-items: flex-start;
}

.s-about .content .right-area{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 5rem;
}

.s-about .right-area p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--text-main);
    margin-bottom: 4.8rem;
}

.s-about .social-medias img:first-child{
    margin-right: 2rem;
}

/*s-featured-cards*/

.s-featured-cards {
    width: 100%;
    padding-top: 24.8rem;
}

.s-featured-cards .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-featured-cards h4 {
    margin-bottom: 5.6rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: var(--text-main);
}

.s-featured-cards .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2%;
    justify-content: center;
}



.s-featured-cards .card {
    max-width: 242px;
    height: 259px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.6rem 7.7rem 2.7rem 7.7rem;
}

.s-featured-cards .card img{
    margin: 0 0 3.4rem 0;
}
.s-featured-cards .card p {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #E2E2E2;
}

/*s-projects*/

.s-projects {
    width: 100%;
    padding-top: 12.8rem;
}

.s-projects .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-projects .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-projects .text h4{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: var(--text-main);
}

.s-projects .text h2{
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.003em;
    color: var(--text-main);
    margin: 1.8rem 0 9.7rem 0;
}

.s-projects .projects {
    display: flex;
    align-items: flex-end;
    gap: 0 35px;
}

.s-projects .btn-primary {
    margin-top: 5.9rem;
}

/*s-contact*/
.s-contact {
    padding: 12.5rem 0 27.3rem 0;
}

/*.s-contact .left-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.s-contact .container { 
    display: flex;
    justify-content: space-around;

}

.s-contact h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    color: #E2E2E2;
}

.s-contact p {
    font-family: 'Quicksand';
    margin-top: 1.5rem;
    max-width: 578px;;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #E2E2E2;
}

.s-contact .form {
    display: flex;
    flex-direction: column;
}

.s-contact .btn-primary {
    width: 427px;
    
}

.s-contact .form label:first-child {
    margin: 4.7rem 0 6px 0;
    color: #E2E2E2;
}

.s-contact .form input, .s-contact .form textarea {
    width: 100%;
    max-width: 427px;
    height: 48px;
    background: #F4F4F4;
    border-bottom: 2px solid #C0C0C0;
    border-radius: 5px 5px 0px 0px;
    padding-left: 13px;
    margin-bottom: 4rem;
}

.s-contact .form textarea {
    height: 217px;
    padding-top: 1rem;
}

.s-contact .right-area {
    padding-top: 8rem;
}
.s-contact .right-area h4{
    font-size: 28px;
    line-height: 3.9rem;
    color: #4F4F4F;    
    margin-left: 8px;
}

.s-contact .right-area p{
    font-size: 18px;
    line-height: 24px;
    color: #4F4F4F;    
}

.s-contact .contact-card .icon {
    display: flex;
    margin-bottom: 8px;
}
.s-contact .contact-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;
}
/*footer*/

footer {
    background-color: #141414;
    padding: 3.9rem 0 4rem 0;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer .social-medias {
    display: flex;
    gap: 0 4rem;
}

footer .text {
    margin-top: 1.7rem;
    border-top: 1px solid #E2E2E2;;
}

footer .text p{
    margin-top: 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    color: var(--text-main);
}